  <form class="form-signin">
    <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
      height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
  </form>


  <div id="uvpn_rate_us">
    <div class="uvpn_wrap">
      <div class="uvpn_logo-ext">
        <div class="uvpn_logo-wrap"> <img src="chrome-extension://gpieacagdjdfbifodokiccinpbacemjf/img/128.png"> </div>
      </div>
      <div class="uvpn_title"> Don’t Forget to Rate Us </div>
      <div class="uvpn_desc"> If you enjoy our product, give us 5 stars. It helps so much! </div>
      <div class="stars"> <svg xmlns="http://www.w3.org/2000/svg" width="1235" height="1175" viewBox="0 0 1235 1175">
          <path fill="#cf6218" d="M0,449h1235l-999,726 382-1175 382,1175z"></path>
        </svg> <svg xmlns="http://www.w3.org/2000/svg" width="1235" height="1175" viewBox="0 0 1235 1175">
          <path fill="#cf6218" d="M0,449h1235l-999,726 382-1175 382,1175z"></path>
        </svg> <svg xmlns="http://www.w3.org/2000/svg" width="1235" height="1175" viewBox="0 0 1235 1175">
          <path fill="#cf6218" d="M0,449h1235l-999,726 382-1175 382,1175z"></path>
        </svg> <svg xmlns="http://www.w3.org/2000/svg" width="1235" height="1175" viewBox="0 0 1235 1175">
          <path fill="#cf6218" d="M0,449h1235l-999,726 382-1175 382,1175z"></path>
        </svg> <svg xmlns="http://www.w3.org/2000/svg" width="1235" height="1175" viewBox="0 0 1235 1175">
          <path fill="#cf6218" d="M0,449h1235l-999,726 382-1175 382,1175z"></path>
        </svg> </div> <a target="_blank"
        href="https://chrome.google.com/webstore/detail/uvpn-free-and-unlimited-v/gpieacagdjdfbifodokiccinpbacemjf/reviews"
        id="rate_btn_rateus" class="uvpn_rate-btn uvpn_btn"> Rate Us </a>
      <div id="close_btn_rateus" class="uvpn_later-btn uvpn_btn"> Not Now </div>
    </div>
  </div>
